---
import ImageUpload from "../components/ImageUpload";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Image Meal Planner">
   <div class="max-w-3xl mx-auto">
      <h1 class="m-14 text-center">Image Meal Planner</h1>
      <ImageUpload client:load/>
   </div>
</Layout>