---
import ImageUpload from '../components/ImageUpload';
import RecipeMaker from '../components/RecipeMaker';
import Layout from '../layouts/Layout.astro';
import { uploadFile } from '../utils/tigris';
---

<Layout title="Will It Sandwich?">
   <div class="max-w-3xl mx-auto">
      <h1 class="m-14 text-center">Will It Sandwich?</h1>
      <RecipeMaker client:load/>
   </div>
</Layout>